name: bump version

on:
  push:
    branches: '**' # only trigger on branches, not on tags
  workflow_call:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions:
  contents: write

jobs:
  bump:
    runs-on: ubuntu-latest
    steps:
      - name: checkout repo
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: bump version
        uses: jpb06/bump-package@latest
        with:
          minor-keywords: feat,minor,refactor
          patch-keywords: fix,chore
